html, body {
  font-family: 'Nanum Gothic', sans-serif;
}

.wrapper{
    width:100%;
    min-width: 980px;
}

.content-wrap{
    width: 100%;
}
nav{
    position: fixed;
    top: 0; 
    left: 0;    
}
%content{
    width: 100%;
    height: 100vh;
}

.main{
    @extend %content;
    background: grey;
}

.character{
    @extend %content;
    background: lime;
    overflow: hidden;
}

.review{
    @extend %content;
    background: tomato;
}

.content{
    margin: 0 auto;
    transform: translateY(50%);
    margin-top: -50%;
    width: 80%;
    height: 80%;
    background: skyblue;
}

// .main-image{
//     width: 100%;
// }